.titCard {
    color: $colortitulo;
    font-size: $tamañotitulo;
    font-size: $tipografia;
}

.textCard{
    color: $colortexto
}
.margin{
    margin-bottom: 20px;
    margin-top: 20px;
}
.tamañoCards{
    height: auto;
    margin-left: 50px;
   
}
.cardsNene {
    width:15rem;
    text-align: center;
    justify-content: center;
}