.comoComprar{
    padding: 2%;
    color: $colortexto;
    font-size: $tamañotexto;
    font-family: $tipografia; 
    
    h2{
        padding-top: 1%;
        color: $colortitulo;
        font-size: $tamañotitulo;
        font-family: 'Poppins', sans-serif; 
    } 
}

