.nav-productos{
    padding-left: 2%;
    padding-top: 2%;
    margin-top: 10px;

    .cat-princ{
        color: $colortitulo;
        font-size: $tamañotexto ;
        padding: 15px;
        font-family: $tipografia;
        }
    }

    
