.subtitulo {

    background-color: white;
    color: $colortexto;
    width: 100%;
    height: 5rem;     
    display: flex;
    flex-direction: row;
  align-items: center;
  font-family: $tipografia;
  font-size: $tamañotexto;
  font-weight: lighter;
  padding-left: 1rem;
  padding-right: 1rem;
  justify-content:space-between;
 
   .pago{
    display: flex;
        flex-direction: row;
        margin: 0;
        
       
        .subti2{
            font-size: medium;
                  padding-left: 1rem;
                  padding-right: 10rem ;
              }
    }
    .envio{
        display: flex;
            flex-direction: row;
            margin: 0;
   
            
            .subti{
                font-size: medium;
                     
                    
                
                  }
        }
   
 
}

.fa-truck{
    font-size: medium;
    padding-left:2rem;
}

.fa-credit-card{
   font-size: medium;
   padding-left:2rem;
}

@media (max-width: 768px){
    .subtitulo {
        flex-direction: column;
        padding: 0;
        margin: 0;
        text-align: center;
    }

    
    .envio{
        display: flex;
        flex-direction: column;
        margin: 0;
        padding: 0;
        align-items: center;
    }
    .pago{
        display: flex;
        flex-direction: column;
        margin: 0;
        padding: 0;
        align-items: center;
    }

    .subti{
        border-right: none;
       font-size: small;
        padding:0;
        margin:0;

  
    }
 .subti2{
    font-size:medium;
        padding:0;
        margin: 0;
    }

    .fa-truck{
        font-size: medium;
        padding-left:0
        
    }
    
    .fa-credit-card{
       font-size: small;
       padding-left:0
      
    }
}
