@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Caveat+Brush&family=Comfortaa:wght@300;400;500;600;700&family=Fascinate+Inline&family=Fuggles&family=Gochi+Hand&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Quicksand:wght@300;400;500;600;700&family=Roboto:ital,wght@0,100;0,300;1,100&family=Rock+Salt&family=Sacramento&family=Skranji:wght@400;700&display=swap");
* {
  margin: 0;
  padding: 0;
}

body {
  background-color: white;
  color: black;
}

.colorNav {
  background-color: #fffbd5;
  color: dimgray;
  font-size: 1rem;
  font-family: "Quicksand", sans-serif;
}

.nav-link {
  color: dimgray;
}

.me-2 {
  color: dimgray;
}

.mainForm {
  margin: 5%;
}

.titForm {
  color: dimgray;
  font-size: x-large;
  font-size: 1rem;
  font-family: "Quicksand", sans-serif;
}

.formEdicion h2 {
  padding-top: 1%;
  color: #f2a0ce;
  font-size: 1.2rem;
  font-family: "Quicksand", sans-serif;
}
.formEdicion p {
  font-size: medium;
  font-family: "Quicksand", sans-serif;
  color: dimgray;
}

.comoComprar {
  padding: 2%;
  color: dimgray;
  font-size: 1rem;
  font-family: "Quicksand", sans-serif;
}
.comoComprar h2 {
  padding-top: 1%;
  color: #f2a0ce;
  font-size: 1.2rem;
  font-family: "Poppins", sans-serif;
}

.nav-productos {
  padding-left: 2%;
  padding-top: 2%;
  margin-top: 10px;
}
.nav-productos .cat-princ {
  color: #f2a0ce;
  font-size: 1rem;
  padding: 15px;
  font-family: "Quicksand", sans-serif;
}

.nosotros {
  color: dimgray;
  font-size: 1rem;
  width: 90%;
  margin: 5%;
  font-family: "Quicksand", sans-serif;
}

.mainNosotros {
  height: 100vh;
}

footer {
  color: dimgray;
  background-color: #fffbd5;
  width: 100%;
  height: 10rem;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  font-family: "Quicksand", sans-serif;
  font-size: 1rem;
  margin-top: 10px;
}

.contacto_footer {
  display: flex;
  flex-direction: column;
  font-size: x-small;
}

.fa-cc-visa {
  font-size: x-large;
}

.fa-cc-mastercard {
  font-size: x-large;
}

.fa-cc-amex {
  font-size: x-large;
}

.fa-facebook {
  font-size: x-large;
}

.fa-instagram {
  font-size: x-large;
}

.fa-pinterest {
  font-size: x-large;
}

@media (max-width: 768px) {
  footer {
    display: flex;
    flex-direction: column;
    height: 30rem;
    align-items: center;
  }
}
.subtitulo {
  background-color: white;
  color: dimgray;
  width: 100%;
  height: 5rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  font-family: "Quicksand", sans-serif;
  font-size: 1rem;
  font-weight: lighter;
  padding-left: 1rem;
  padding-right: 1rem;
  justify-content: space-between;
}
.subtitulo .pago {
  display: flex;
  flex-direction: row;
  margin: 0;
}
.subtitulo .pago .subti2 {
  font-size: medium;
  padding-left: 1rem;
  padding-right: 10rem;
}
.subtitulo .envio {
  display: flex;
  flex-direction: row;
  margin: 0;
}
.subtitulo .envio .subti {
  font-size: medium;
}

.fa-truck {
  font-size: medium;
  padding-left: 2rem;
}

.fa-credit-card {
  font-size: medium;
  padding-left: 2rem;
}

@media (max-width: 768px) {
  .subtitulo {
    flex-direction: column;
    padding: 0;
    margin: 0;
    text-align: center;
  }
  .envio {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    align-items: center;
  }
  .pago {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    align-items: center;
  }
  .subti {
    border-right: none;
    font-size: small;
    padding: 0;
    margin: 0;
  }
  .subti2 {
    font-size: medium;
    padding: 0;
    margin: 0;
  }
  .fa-truck {
    font-size: medium;
    padding-left: 0;
  }
  .fa-credit-card {
    font-size: small;
    padding-left: 0;
  }
}
.titCard {
  color: #f2a0ce;
  font-size: 1.2rem;
  font-size: "Quicksand", sans-serif;
}

.textCard {
  color: dimgray;
}

.margin {
  margin-bottom: 20px;
  margin-top: 20px;
}

.tamañoCards {
  height: auto;
  margin-left: 50px;
}

.cardsNene {
  width: 15rem;
  text-align: center;
  justify-content: center;
}

.btn--twitter {
  background-color: #55aCee;
}

.btn--facebook {
  background-color: #3a5795;
}

.btn--instagram {
  background-color: #C25E30;
}/*# sourceMappingURL=style.css.map */